$grad-clr-1: #4D7EA8;
$grad-clr-2: #4D50A8;
$grad-clr-3: #774DA8;
$grad-clr-4: #A54DA8;
$grad-clr-5: #A84D7E;

$bg-color: rgb(20, 20, 20);
$main-text-color: lighten($grad-clr-1, 40);

$bg: linear-gradient(
    140deg,
    $bg-color,
    darken($grad-clr-1, 40),
);

@font-face {
    font-family: 'HackNerdFont';
    src: url('HackNerdFont-Regular.ttf');
}

$main-font: 'HackNerdFont';

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    padding: 1em;
    margin: 1em;
    font-family: $main-font;
    color: $main-text-color;
    background: $bg;
    height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

.tab {
    margin-left: 2em;
}